body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 70%);
}

button {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  font-size: 19px;
  border: 2px solid transparent;
  background-color: #333333;
  color: white;
  cursor: pointer;
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  border-style: solid;
  border-color: tomato;
  width: 500px;
  overflow: hidden;
}

#display {
  width: 460px;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 25%);
  color: tomato;
}

.finshers {
  border: solid;
  border-color: tomato;
}

.numbers {
  border: solid;
  border-color: tomato;
}

.operators {
  font-size: 45px;
  border: solid;
  border-color: tomato;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  padding: 20px;
}

button:hover {
  background-color: tomato;
  border-style: solid;
  border-color: tomato;
  font-weight: bold;
  font-size: 35px;
}